body {
    color: #fff;
}

/* Highscore and leaderboard styling */
#highScoresList {
    list-style-type: decimal-leading-zero;
    margin-bottom: 4rem;
    text-align: center;

}

.high-score {
    font-size: 2.8rem;
    margin-bottom: 0.5rem;
    background-color: black;
}

@media screen and (max-width: 500px) {
    img {
      height: 100px;
      width: 100px;
    }
}